{% extends 'library/base.html' %}

{% block content %}
	<div class="row">
		<div class="col">
			<div class="float-start">
				<h3>Наша техническая литература ({{ count }})</h3>
				<br/>
				<div class="container-fluid">
					<div class="row gy-2 gx-1">
					{% for t in tech_books %}	
						<div class="col">
							<a href="{% url 'show_book' t.id %}" style="text-decoration: none;">
								<div class="card" style="width: 18rem;">
								  <img id="list_books_img" src="{{ t.photo }}" class="card-img-top" alt="...">
								  <div class="card-body">							  
								    <p class="card-text text-truncate" id="list_books_text">{{ t.name }}</p>
								  </div>
								</div>
							</a>
						</div>
					{% endfor %}		
					</div>
				</div>
				
			</div>	
		</div>
	</div>
<br/>

<nav aria-label="Page navigation example">
  <ul class="pagination">
 
	{% if tech_books.has_previous %}
		<li class="page-item"><a class="page-link" href="?page=1">&laquo</a></li>
		<li class="page-item"><a class="page-link" href="?page={{ tech_books.previous_page_number }}">Previous</a></li>
	{% endif %}

	<li class="page-item disabled"><a class="page-link" href="#">Page {{ tech_books.number }} of {{ tech_books.paginator.num_pages }}</a></li>

	{% if tech_books.has_next %}
		<li class="page-item"><a class="page-link" href="?page={{ tech_books.next_page_number }}">Next</a></li>
		<li class="page-item"><a class="page-link" href="?page={{ tech_books.paginator.num_pages }}">Last &raquo</a></li>
	{% endif %}

	</ul>
</nav>

{% endblock content %}